[run]
omit =
   ../_notebooks/*
   ../_static_data/*
   ../_tests/*
   ../_version.py
   ../external/*
   ../../versioneer.py
   ../../setup.py
   ../interfaces/nbo_interface.py


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    def __str__
    def _repr_markdown
    raise AssertionError
    raise NotImplementedError
