*.pyc
*.pyo
.idea
.ipynb_checkpoints/
pyquante.log
_docker_make_tmp
lastfailed
docs
./dist/
./build/
*.egg-info
.dockerignore
__pycache__
Dockerfile
DockerMakefiles
moldesign/_static_data/components.ci*
moldesign/_static_data/aa-variants-v1.ci*
*.bak

