biopython
docker-py
fortranformat
funcsigs
ipywidgets >= 5.1
ipython >= 4.2
markdown2
matplotlib
nbmolviz >= 0.6.5
notebook >= 4.2
numpy
pint >= 0.7
pyccc >= 0.6.4
pytest
pyyaml
requests
scipy
webcolors
